<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style>
    table, th, td
    {
        border: 1px gainsboro solid;
    }
    .pagination {
        display: inline-block;
    }

    .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
    }
</style>

<table style="margin:5rem;">
    <thead>
    <th>제목</th>
    <th>작성자</th>
    </thead>
    <tbody>
    <th:block th:each="lst, i : ${board}">
        <tr>
            <td ><a th:href="@{/board/view(pk=${lst.getId()})}" th:text="${lst.getTitle()}"></a></td>
            <td th:text="${lst.getMember().getName()}"></td>

        </tr>
    </th:block>
    </tbody>
</table>
<div class="pagination">
    <th:block th:each="lst : ${#numbers.sequence(1, total)}">

        <a th:if="${lst == page.getPageNumber() + 1 }" style="color: red" th:text="${lst}"></a>
        <a th:unless="${lst == page.getPageNumber()+ 1}" th:text="${lst}" th:href="@{/board/list(page=${lst})}"></a>
    </th:block>


<!--    <th:block th:each="lst : ${total}">-->
<!--        <a th:text="${lst}" th:href="@{/board/list(page=${lst})}"></a>-->
<!--    </th:block>-->
</div>
<div>
    <a href="/board/create">생성</a>
</div>
</body>
</html>