<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>게시판 상세</h3>

<div>
    <label>제목</label><input th:value="${board.getTitle()}" readonly name="title" type="text" style="    width: 300px;
    font-size: 12pt;">
</div>
<div>
    <label>내용</label><textarea th:text="${board.getContent()}" readonly name="content" rows="5" style="    width: 300px;
    font-size: 12pt;"></textarea>
</div>

<div>
    <form action="/board/del" method="post" id="delForm">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <input type="hidden" name="pk" th:value="${board.getId()}">
    </form>
    <button onclick="doDelete();">삭제</button>
    <a th:href="@{/board/modify(pk=${board.getId()})}">수정</a>
</div>

<script>

    function doDelete()
    {
        if (confirm("삭제하시겠습니까?") == true)
        {
           const f = document.getElementById('delForm');
           f.submit();
        }
    }

</script>
</body>
</html>