<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>게시판 수정</h3>

<form action="/board/modify" method="post">

    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <input type="hidden" name="pk" th:value="${board.getId()}">
    <div>
        <label>제목</label><input th:value="${board.getTitle()}"  name="title" type="text" style="    width: 300px;
    font-size: 12pt;">
    </div>
    <div>
        <label>내용</label><textarea th:text="${board.getContent()}" name="content" rows="5" style="    width: 300px;
    font-size: 12pt;"></textarea>
    </div>

    <button type="submit">수정</button>

</form>

</body>
</html>