<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>게시판 생성</h3>

<form action="/board/create" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <div>
        <label>제목</label><input name="title" type="text" style="    width: 300px;
    font-size: 12pt;">
    </div>
    <div>
        <label>내용</label><textarea name="content" rows="5" style="    width: 300px;
    font-size: 12pt;"></textarea>
    </div>

    <button type="submit">저장</button>

</form>

</body>
</html>