<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{tl/fragments/base}">

<th:block layout:fragment="contentFragment">
    <style>
    table, th, td {
        border: 1px gainsboro solid;
    }

    .pagination {
        display: inline-block;
    }

    .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
    }
</style>
    <table class="table table-striped">
        <thead>
        <th>제목</th>
        <th>작성자</th>
        <th>즐겨찾기</th>
        </thead>
        <tbody>

        </tbody>
    </table>
    <script>

</script>
</th:block>